#fh5co-hero:after {
	background-image: none;
}

#fh5co-footer, #fh5co-footer::before{
	background: none;
}

.sf-menu a{
	font-size: 15px;
}

footer{
	background-color: #4bdca3;
}

#fh5co-main{
	padding-top: 0px;
	margin-bottom: 0px;
}

#fh5co-footer::before{
	content: none;
}

#map {
	height: 400px;
	width: 100%;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    border-radius: 0px;
}

li.active a {
    color: #00d2a5;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.tooltip-inner {
  white-space:nowrap;
  max-width:none;
  background-color: #004637;
  color: white;
  font-size: 14px;
}
