#navbar{
	background-color: #90d7ea;
}

#fh5co-hero:after {
	background-image: none;
}
#fh5co-footer, #fh5co-footer::before{
	background: none;
}

.sf-menu a{
	font-size: 15px;
}

footer{
	background-color: #4bdca3;
}

#fh5co-main{
	padding-top: 0px;
	margin-bottom: 0px;
}

#fh5co-footer::before{
	content: none;
}